<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

	<h1>Market insight 
        <small class="text-muted">| A statistical summary</small>
    </h1>

    
	<div class="container">
    <div class="row">
            <div class="col-md-auto">
                <h3>Highest state sales</h3>
                <div>
                    <span id="state"></span>
                    <span id="amountstate" style="padding-left:3%"></span>
                </div>

            </div>
            <div class="col-md-auto">
                <h3>Highest city sales</h3>
                <div>
                    <span id="city"></span>
                    <span id="amountcity" style="padding-left:3%"></span>
                </div>

            </div>
        </div>
    </div>


    <h3>Total sale visualization</h3>
    <div id="chartContainerColumn" style="height: 370px; width: 100%;"></div>
    <br />
    <br />
    <br />
    <br />
    <div id="chartContainerLine" style="height: 370px; width: 100%;"></div>
	
</body>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
window.onload = function () {
    $("#image").hide();

    var columnChartData= @Html.Raw(ViewBag.DataPointsColumn);
    var stateData= @Html.Raw(ViewBag.DataPointsState);
    var cityData= @Html.Raw(ViewBag.DataPointsCity);
    var revenueData= @Html.Raw(ViewBag.DataPointsRevenue);

    console.log(revenueData);
    console.log(columnChartData);
    PerformanceIndicator(stateData,cityData);
    SaleAmountPerDay(columnChartData);
    SaleRevenuePerDay(revenueData);
}
</script>
</html>   