@model candyshop_project.ViewModels.CreateCandyViewModel

<form method="post" asp-action="CreateProduct">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Create New Product</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ImageUrl"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ImageThumbnailUrl"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ImageThumbnailUrl" class="form-control" />
                        <span asp-validation-for="ImageThumbnailUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="AmountInStock"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="AmountInStock" class="form-control" />
                        <span asp-validation-for="AmountInStock" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <select id="Select1" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, nameof(Candy.CategoryId), nameof(Candy.Category.CategoryName)))">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-info text-left" value="Create Product" />
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Back</a>
        </div>
    </div>
</form>