<div>
    <h2>Welcome to admin page</h2>
</div>

<div>
    <h2>Product Settings</h2>
    <div>
        <h3>Create Product</h3>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateProduct">Create Product</a>
        <h3>Manage Products</h3>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ListOfCandies">Manage Products</a>
    </div>
</div>