@model HomeViewModel

<partial name="_Carousel" />

@if(Model.CandyOnSale.Any(p => true))
{
    <h2>Candy on Sale</h2>
    <div class="row">
    @foreach(var candy in Model.CandyOnSale)
    {
        <partial name="_candyCard" model="new CandyCardViewModel() { Candy = candy, BestDiscount = candy.FindBestDiscount(DateTime.Now) }" />
    }
    </div>
} else
{
    
    <h2>Most Popular</h2>
    <div class="row">
        @foreach(var candy in Model.MostPopular)
        {
            <partial name="_candyCard" model="new CandyCardViewModel() { Candy = candy, }" />
        }
    </div>
}
